*.dat
*.idx
*.sts
*.dat.*
*.pen
*.err
*.lst
*.tbw
*.log
~$*.xlsx
~$*.xls
~$*.doc
~$*.docx
Menu/login.txt
Menu/eacode.txt
Menu/summaryreport.txt
Menu/agebysex.js
Menu/Sex Ratio Report.txt
Deployment
Documents/Tablet_User_Guide.pptx
Documents/Statistics_Act_2001.pdf
Documents/CAPI_Enumerators_Manual_-_PHC_2016.docx