*.dat
*.idx
*.sts
*.dat.*
*.pen
*.err
*.lst
*.tbw
*.log
~$*.xlsx
~$*.xls
~$*.doc
~$*.docx
Menu/login.txt
Menu/eacode.txt
Menu/summaryreport.txt
Menu/agebysex.js
Menu/Sex Ratio Report.txt
Menu/staff_old.xlsx
Menu/staff backup.xlsx
Menu/staff_1.xlsx
Menu/AssSup.xlsx
Deployment
Documents/Tablet_User_Guide.ppt
Documents/Statistics_Act_2001.pdf
Documents/CAPI_Enumerators_Manual_-_PHC_2016.docx
Documents/2016_PHC_Application - Enumerator.pptx
Documents/2016_PHC_Application - AS.pptx
Documents/2016_PHC_Application - CS.pptx
Documents/~$*.xlsx
Documents/~$*.xls
Documents/~$*.doc
Documents/~$*.docx
Documents/~$*.ppt
Documents/~$*.pptx